.guide_text{
    display: none;
    position: absolute;
    z-index: 100000;
    max-width: 150px;
    box-shadow: 0 2px 4px 0 rgba(0, 111, 242, 0.15);
}
.guide_text .div-original{
    font-size: 12px;
    border-radius: 2px;
    padding: 8px 11px;
    line-height: 16px;
    background-color: #fafcff;
    color: #484848;
    border: 1px solid #97bbff;
    word-break: break-all;
}
.guide_text .span-original{
    position: absolute;
    border: 5px solid transparent;
}
.guide_text .span-original:before{
    content: "";
    position: absolute;
    border: 4px solid #fff;
}
.guide_text_top .span-original{
    margin-top: -1px;
    margin-left: -5px;
    border-color: #97bbff transparent transparent transparent;
}
.guide_text_top .span-original:before{
    top: -5px;
    left: -4px;
    border-color: #fff transparent transparent transparent;
}
.guide_text_right .span-original{
    margin-top: -5px;
    margin-left: -9px;
    border-color: transparent #97bbff transparent transparent;
}
.guide_text_right .span-original:before{
    top: -4px;
    left: -3px;
    border-color: transparent #fff transparent transparent;
}
.guide_text_left .span-original{
    margin-top: -5px;
    margin-left: -1px;
    border-color: transparent transparent transparent #97bbff;
}
.guide_text_left .span-original:before{
    top: -4px;
    left: -5px;
    border-color: transparent transparent transparent #fff;
}
.guide_text_bottom .span-original{
    margin-top: -9px;
    margin-left: -5px;
    border-color: transparent transparent #97bbff transparent;
}
.guide_text_bottom .span-original:before{
    top: -3px;
    left: -4px;
    border-color: transparent transparent #fff transparent;
}
.guide_text .div-change{
    font-size: 12px;
    border-radius: 2px;
    padding: 8px 11px;
    line-height: 16px;
    background-color: #434757;
    color: #fff;
    border: 1px solid #434757;
    word-break: break-all;
}
.guide_text .span-change{
    position: absolute;
    border: 5px solid transparent;
}
.guide_text .span-change:before{
    content: "";
    position: absolute;
    border: 4px solid #434757;
}
.guide_text_top .span-change{
    margin-top: -1px;
    margin-left: -5px;
    border-color: #434757 transparent transparent transparent;
}
.guide_text_top .span-change:before{
    top: -5px;
    left: -4px;
    border-color: #434757 transparent transparent transparent;
}
.guide_text_right .span-change{
    margin-top: -5px;
    margin-left: -9px;
    border-color: transparent #434757 transparent transparent;
}
.guide_text_right .span-change:before{
    top: -4px;
    left: -3px;
    border-color: transparent #434757 transparent transparent;
}
.guide_text_left .span-change{
    margin-top: -5px;
    margin-left: -1px;
    border-color: transparent transparent transparent #434757;
}
.guide_text_left .span-change:before{
    top: -4px;
    left: -5px;
    border-color: transparent transparent transparent #434757;
}
.guide_text_bottom .span-change{
    margin-top: -9px;
    margin-left: -5px;
    border-color: transparent transparent #434757 transparent;
}
.guide_text_bottom .span-change:before{
    top: -3px;
    left: -4px;
    border-color: transparent transparent #434757 transparent;
}